*, 
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Sen', sans-serif;
  background: #f5f5f5;
  color: #1a1b25;
}

.text-warning {
  color: #e24e1b;
}

.text-green {
  color: #45Be9B;
}

.dashboard {
  margin: 0 auto;
  padding: 15px;
}

.dashboard-title {
  color: #1F0322;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Poppins';
  text-transform: uppercase;
  margin-bottom: 45px;
  font-size: 36px;
  margin-top: 40px;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.panel {
  background: #ffffff;
  border-radius: 10px;
  height: auto;
  box-shadow: 0 7px 10px -9px #ded8d8;
}

.panel.summary-card {
  flex-grow: 1;
  flex-basis: 0;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}

.card-warning .summary-card-value {
  color: #e24e1b;
}

.card-green .summary-card-value {
  color: #45Be9B;
}

.panel.summary-card > .summary-card-title {
  font-size: 16px;
  color: #465656;
  font-weight: normal;
}

.panel.summary-card > .summary-card-value {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Poppins';
  letter-spacing: 4px;
}

.panel.summary-card:not(:last-child) {
  margin-right: 30px;
}

.map-stats-wrapper {
  display: flex;
}

.panel.map-container,
.panel.summary-table {
  max-height: 700px;

}
.panel.map-container {
  flex-grow: 1;
  margin-right: 30px;
  position: relative;
}

.panel.summary-table {
  flex-basis: 35%;
  padding: 25px;
  overflow-y: hidden;
}

.summary-table table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.summary-table thead,
.summary-table tbody {
  width: 100%;
}

.summary-table tbody {
  height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.summary-table thead tr,
.summary-table tbody tr {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.summary-table thead tr {
  margin-right: 21px;
}

.summary-table tbody tr {
  margin-right: 20px;
  border-bottom: 1px solid rgba(214, 219, 223, .5);
  cursor: pointer;
}

.summary-table tbody tr:hover {
  background: rgb(244, 248, 250, .6);
}

.summary-table thead tr th,
.summary-table tbody tr td {
  width: calc(100% / 5);
  text-align: left;
}

.summary-table tbody tr td:first-child {
  text-transform: capitalize;
}

.summary-table thead tr th:not(:first-child),
.summary-table tbody tr td:not(:first-child) {
  text-align: right;
}

.summary-table tbody tr td:last-child,
.summary-table thead tr th:last-child {
  width: 60px;
}

/* Keep scrollbar shown */
.summary-table tbody::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.summary-table tbody::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.map-legends-wrapper {
  position: relative;
  width: 100%;
  padding: 10px 18px;
  margin-top: 30px;
}

.map-legend {
  display: flex;
  align-items: center;
  margin-right: 15px;
  width: 105px;
  margin-bottom: 20px;
}

.map-legend-color {
  border: 1px solid rgb(172, 164, 164);
  height: 15px;
  width: 15px;
  border-radius: 4px;
  margin-right: 5px;
}

.map-legend-text {
  font-size: 15px;
}

@media screen and (min-width: 501px)  {
  .dashboard {
    padding: 30px;
  }

  .dashboard-title {
    font-size: 40px;
    margin-top: 0;
  }

  .panel.summary-card {
    padding: 20px;
  }
}

@media screen and (min-width: 1426px) {
  .dashboard {
    max-width: 1600px;
    padding: 40px;
  }

  .map-legends-wrapper {
    position: absolute;
    right: 25px;
    bottom: 56px;
    width: auto;
  }
}

@media screen and (max-width: 1600px) {
  .panel.summary-table {
    flex-basis: 40%;
  }

  .panel.summary-card { 
    padding: 30px;
  }
}

@media screen and (max-width: 1425px) {
  .panel.summary-table {
    flex-basis: 45%;
  }

  .map-container svg {
    margin-top: 60px;
  }

  .map-legends-wrapper {
    display: flex;
    flex-wrap: wrap;
    right: 0;
    position: relative;
    width: 90%;
    margin: 0 auto;
    bottom: 35px;
  }

  .map-legend {
    width: auto;
  }
}

@media screen and (max-width: 1250px) {
  .summary-table thead, 
  .summary-table tbody {
    min-width: 490px;
  }

  .panel.summary-table {
    flex-basis: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .summary-wrapper {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .panel.summary-card {
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .panel.summary-card:not(:last-child) {
    margin-right: 0;
  }

  .panel.summary-card:nth-of-type(odd) {
    margin-right: 20px;
  }

  .map-stats-wrapper {
    flex-wrap: wrap;
  }

  .panel.map-container {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px;
    max-height: unset;
  }

  .panel.summary-table {
    flex-basis: 100%;
  }

  .map-legends-wrapper {
    bottom: 50px;
  }
}
