*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Sen', sans-serif;
  background: #f5f5f5;
  color: #1a1b25;
}

input {
  min-height: 40px;
  border: 2px solid;
  border-radius: 4px;
  padding: 0 15px;
  font-family: inherit;
}

input.default {
  border-color: #2c8c99;
}

input.error {
  border-color: #e34234;
}

.btn {
  width: 120px;
  height: 50px;
  border-radius: 4px;
  padding: 14px;
  font-size: inherit;
  font-family: inherit;
}

.btn-solid {
  background: #1a68e6;
  color: #ffffff;
}

.btn-hollow {
  background: transparent;
  border: 2px solid #1a68e6;
}

.text-warning {
  color: #e24e1b;
}

.text-green {
  color: #45be9b;
}

.dashboard {
  margin: 0 auto;
  padding: 15px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 25px;
  align-items: flex-start;
  color: #1f0322;
}

.dashboard-title {
  color: inherit;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 8vw;
}

.menu-trigger {
  padding: 15px;
  background: transparent;
  margin-right: -15px;
  color: inherit;
  cursor: pointer;
}

.notification-menu-wrapper {
  position: relative;
}

.panel.notification-menu {
  position: absolute;
  right: 10px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.menu-trigger[data-menu-open='true'] + .panel.notification-menu {
  display: flex;
  height: auto;
  max-height: 65px;
  padding: 15px;
}

.toggle-slider {
  width: 100%;
  position: relative;
  padding: 3px;
  height: 100%;
}

.toggle-switch.off .knob {
  transform: translateX(33px);
  transition: transform 250ms ease-in;
}

.toggle-switch.off .knob + span {
  transform: translateX(-28px);
  animation: moveText 600ms ease-in;
}

.toggle-switch.on .knob + span {
  right: 6px;
  animation: moveText 600ms ease-in;
}

.toggle-switch {
  padding: 4px;
  border-radius: 25px;
  background: #c1c7cd;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 33px;
  cursor: pointer;
}

.toggle-switch.off {
  opacity: 0.45;
}

.toggle-switch input[type='checkbox'] {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggle-switch .knob {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffffff;
  margin-left: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 12px;
  top: -0.5px;
  transition: transform 250ms ease-in;
  z-index: 100;
}

.toggle-switch .knob + span {
  position: absolute;
  right: 6px;
  top: 2.5px;
}

.toggle-switch .knob svg {
  margin-left: -1px;
}

.summary-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.panel {
  background: #ffffff;
  border-radius: 5px;
  height: auto;
  box-shadow: 0 7px 10px -9px #ded8d8;
}

.panel.summary-card {
  flex-grow: 1;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  flex-basis: calc(50% - 15px);
  margin-bottom: 15px;
}

.panel.summary-card:nth-of-type(odd) {
  margin-right: 15px;
}

.death-cases .summary-card-value {
  color: #e24e1b;
}

.active-cases .summary-card-value {
  color: #757166;
}

.charts-container {
  display: flex;
}

.chart-wrapper {
  padding: 40px 30px;
  margin-bottom: 45px;
}

.chart-wrapper.line-chart {
  flex-basis: 68%;
  margin-right: 30px;
}

.chart-wrapper.pie-chart {
  flex-basis: 32%;
  display: flex;
  justify-content: center;
}

.recovered-cases .summary-card-value {
  color: #1a68e6;
}

.panel.summary-card > .summary-card-title {
  font-size: 15px;
  color: #465656;
  font-weight: normal;
}

.panel.summary-card > .summary-card-value {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Poppins';
  letter-spacing: 2px;
  line-height: 2.5rem;
  margin-bottom: 10px;
  flex-grow: 1;
}

.map-stats-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.panel.map-container,
.panel.summary-table {
  max-height: 700px;
}

.search-container {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.search-field-wrapper {
  margin-right: 25px;
}

.panel.summary-table {
  flex-basis: 100%;
  width: 100%;
  overflow: scroll;
  padding: 15px;
}

.panel.map-container {
  flex-basis: 100%;
  margin-right: 0;
  margin-bottom: 40px;
  max-height: unset;
}

.map-container svg {
  margin-top: 30px;
}

.map-container path {
  outline: none;
}

.summary-table table {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 490px;
}

.summary-table thead,
.summary-table tbody {
  width: 100%;
}

.summary-table tbody {
  height: 530px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.summary-table thead tr,
.summary-table tbody tr {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.summary-table thead tr {
  margin-right: 21px;
}

.summary-table tbody tr {
  margin-right: 20px;
  border-bottom: 1px solid rgba(214, 219, 223, 0.5);
  cursor: pointer;
  align-items: center;
}

.summary-table tbody tr:hover {
  background: rgb(244, 248, 250, 0.6);
}

.summary-table thead tr th,
.summary-table tbody tr td {
  width: calc(100% / 5);
  text-align: left;
}

.summary-table tbody tr td:first-child {
  text-transform: capitalize;
}

.summary-table thead tr th:not(:first-child),
.summary-table tbody tr td:not(:first-child) {
  text-align: right;
}

.summary-table tbody tr td:last-child,
.summary-table thead tr th:last-child {
  width: 60px;
}

/* Keep scrollbar shown */
.summary-table tbody::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.summary-table tbody::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.map-legends-wrapper {
  position: relative;
  padding: 10px;
  margin-top: 30px;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  right: 0;
  width: auto;
}

.map-legend {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.map-legend:not(:last-child) {
  margin-right: 15px;
}

.map-legend-color {
  border: 1px solid rgb(172, 164, 164);
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 5px;
}

.map-legend-text {
  font-size: 15px;
}

.panel.popup-bar-wrapper {
  padding: 25px;
  position: fixed;
  transform: translateY(200px);
  transition: all 500ms ease-out;
  bottom: 0;
  z-index: 300;
  display: none;
}

.panel.popup-bar-wrapper[data-visible='true'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.notification-request .notification-message {
  margin-bottom: 20px;
}

.notifications-button-group .btn:not(:last-child) {
  margin-right: 20px;
}

.notif-popup-overlay[data-popup-open='true'] {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1f0322;
  opacity: 0.6;
  z-index: 200;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-panel {
  width: 80%;
  max-width: 800px;
  height: 100px;
  padding: 70px 40px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

@keyframes moveText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 451px) {
  .dashboard-title {
    font-size: 36px;
  }
}

@media screen and (min-width: 501px) {
  .dashboard {
    padding: 30px;
  }

  .dashboard-title {
    font-size: 40px;
    margin-top: 0;
  }

  .panel.summary-card {
    padding: 25px;
    height: 155px;
    flex-basis: calc(50% - 20px);
    margin-bottom: 20px;
  }

  .panel.summary-card:nth-of-type(odd) {
    margin-right: 20px;
  }

  .panel.summary-card > .summary-card-value {
    font-size: 42px;
  }

  .panel.summary-card > .summary-card-title {
    font-size: 16px;
  }

  .map-legends-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 10px 18px;
  }
}

@media screen and (min-width: 800px) {
  .panel.notification-menu {
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 1025px) {
  .summary-wrapper {
    flex-wrap: nowrap;
    margin-bottom: 45px;
  }

  .panel.map-container {
    flex-grow: 1;
    flex-basis: unset;
    margin-right: 30px;
    position: relative;
    margin-bottom: unset;
  }

  .panel.summary-table {
    padding: 25px;
    overflow-y: hidden;
    flex-basis: 50%;
  }

  .panel.summary-card {
    flex-basis: 0;
    margin-bottom: unset;
    padding: 30px;
    height: 150px;
  }

  .panel.summary-card > .summary-card-value {
    font-size: 50px;
  }

  .panel.summary-card:not(:last-child) {
    margin-right: 30px;
  }

  .panel.summary-card:nth-of-type(odd) {
    margin-right: 30px;
  }

  .panel.map-container,
  .panel.summary-table {
    max-height: 750px;
  }

  .map-stats-wrapper {
    flex-wrap: nowrap;
  }

  .map-container svg {
    margin-top: 30px;
  }

  .summary-table tbody {
    height: 590px;
  }
}

@media screen and (min-width: 1281px) {
  .map-legends-wrapper {
    width: auto;
    bottom: 70px;
    justify-content: center;
  }
}

@media screen and (min-width: 1426px) {
  .dashboard {
    max-width: 1600px;
    padding: 40px;
  }

  .panel.summary-table {
    flex-basis: 35%;
  }
}

@media screen and (min-width: 1500px) {
  .panel.summary-card > .summary-card-title {
    font-size: 17px;
  }
}
